.container {
  background-color: rgba(0, 0, 0, 0.45);
}
.emo-itemlist-content {
  color: #242424;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgb(99 99 99) 100%
    ),
    radial-gradient(
        at top center,
        rgb(119 119 119 / 40%) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      hsl(0 0% 46% / 0.35);
  background-blend-mode: multiply, multiply;
  /* transition: 0.1s; */
}
.emo-itemlist-content:hover {
  box-shadow: 1px 1px 8px 2px rgba(255, 255, 255, 1);
}
.emo-itemlist-type {
  color: #fff;
  border-bottom: solid 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, #505050 0%, #4e4e4e 40%, #171717 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
}
.emo-item:hover,
.emo-item:focus {
  /* transition: 0.1s; */
  font-size: 18px;
  color: gold;
  background: linear-gradient(
      to bottom,
      #969696 0%,
      rgb(68 68 68 / 50%) 40%,
      rgb(23 23 23 / 50%) 150%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgb(255 255 255 / 25%) 200%
    );
  background-blend-mode: multiply;
}
.emo-itemlist-history-item {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgb(99 99 99) 100%
    ),
    radial-gradient(
        at top center,
        rgb(119 119 119 / 40%) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      hsl(0 0% 46% / 0.35);
  background-blend-mode: multiply, multiply;
  /* transition: 0.1s; */
}
.emo-itemlist-history-item:hover,
.emo-itemlist-history-item:focus {
  color: gold;
}

/* ===== Input ====== */
input {
    outline: 0;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .input-search {
    font-size: 22px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
    color: #fff;
    border: solid 2px rgb(255 255 255 / 0.65);
    transition: 0.1s;
    background-image: linear-gradient(to right, #2f2f2f 0%, #636363 100%);
  }
  .input-search:hover,
  .input-search:focus {
    border: solid 2px #fff;
    box-shadow: 1px 1px 8px 0px rgb(255 255 255);
  }
